{% extends 'front/layout.html.twig' %}
{% block main %}
    {{ include ('front/blocks/sidebar.html.twig') }}
    <main>
        {% for article in articles %}

            <article>
                <h4 class="title"><a href="/articles/{{ article.id }}" name="{{ article.title }}">{{ article.title }}</a></h4>
                <img src="{{ article.cover_image }}">
                <p>{{ article.content|raw }}</p>
            </article>
        {% endfor %}
    </main>
{% endblock %}